* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    outline: 1px solid transparent;
}
/*============= containers CSS =============*/

.container {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.wrapper-1440 {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.preload img {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}
.main {
    width: 100%;
    height: 100%;
}
img {
    display: block;
}
.actor {
    position: absolute;
}
.actor.preload img {
    visibility: visible!important;
}
.seqWrapper .actor {
    overflow: hidden;
    position: absolute;
}
.seqWrapper {
    position: absolute;
}

/*=============line set================*/
/*.line {position: absolute;z-index: 2001;}
.left, .right {width: 1px;height: 100%;background: #000;}
.top, .bottom {width: 100%;height: 1px;background: #000;}
.notS4 .line {-webkit-transform: translate3d(0, 0, 0);}
.S3 .left, .S3 .right {width: 2px;}
.S3 .top, .S3 .bottom {height: 2px;}
.S3 .top {top: -1px;}
.S3 .left {left: -1px;}
.S3 .right {right: -1px;}
.S3 .bottom {bottom: -1px;}
.left, .top {top: 0;left: 0;}
.right {top: 0;right: 0;}
.bottom {bottom: 0}*/
/*=============line end================*/