.container {
  width: 768px;
  height: 1024px;
  position: relative;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #72BC43;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
}
.question-list {
  position: absolute;
  top: 450px;
  left: 12px;
  display: block;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% 100%;
  background: #000;
}
.question-list .question-container {
  position: relative;
  width: 580px;
  height: 60px;
  cursor: pointer;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 0 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.question-list .question-container .flip-front {
  position: absolute;
  background: #72BC43;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: bottom center;
}
.question-list .question-container .flip-front .flip-front-bg {
  background: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.question-list .question-container .flip-top {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 1px solid #d7d7d7;
  background: #fff;
}
.question-list .question-container:nth-child(even) .flip-top {
  background: #fafafa;
}
.question-list .question-container:first-child {
  border-bottom: none;
}
.question-list .question-title {
  position: absolute;
  top: 20px;
  left: 28px;
}
.question-list .question-arrow {
  width: 12px;
  height: 24px;
  position: absolute;
  top: 18px;
  right: 14px;
}
