.cube-wrap {
-webkit-perspective: 800px;
-webkit-perspective-origin: 50% 100px;
-moz-perspective: 800px;
-moz-perspective-origin: 50% 100px;
-ms-perspective: 800px;
-ms-perspective-origin: 50% 100px;
perspective: 800px;
perspective-origin: 50% 100px;
}

.cube {
position: relative;
width: 200px;
margin: 100px auto;
-webkit-transform-style: preserve-3d;
-webkit-animation: spin 2s forwards;
-moz-transform-style: preserve-3d;
-moz-animation: spin 2s forwards;
-ms-transform-style: preserve-3d;
-ms-animation: spin 2s forwards;
transform-style: preserve-3d;
animation: spin 2s forwards;
}

.cube div {
position: absolute;
width: 175px;
height: 400px;
background: rgba(255,255,255,0.1);
/*box-shadow: inset 0 0 30px rgba(125,125,125,0.8);*/
font-size: 20px;
text-align: center;
line-height: 200px;
color: rgba(0,0,0,0.5);
font-family: sans-serif;
text-transform: uppercase;
}

.depth div.front-pane {
-webkit-transform: translateZ(87.5px);
-moz-transform: translateZ(87.5px);
-ms-transform: translateZ(87.5px);
transform: translateZ(87.5px);
background: #111;


}
.depth div.left-pane {
-webkit-transform: rotateY(270deg) translateX(-87.5px);
-webkit-transform-origin: center left;
-moz-transform: rotateY(270deg) translateX(-87.5px);
-moz-transform-origin: center left;
-ms-transform: rotateY(270deg) translateX(-87.5px);
-ms-transform-origin: center left;
transform: rotateY(270deg) translateX(-87.5px);
transform-origin: center left;
background: #999;
}


@-webkit-keyframes spin
{ from { -webkit-transform: rotateY(0); }
to { -webkit-transform: rotateY(90deg); }
}
@-webkit-keyframes flipOpacity
{ from { opacity: 1; }
to { opacity: 0.3; }
}

.font-bg, .left-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.font-bg img , .left-bg img {
    width: 100%;
    height: auto;
}

.font-bg {
    -webkit-animation: flipOpacity 2s forwards;
}